.header
	.container1200
		.logo
			a.logo__link(href="/")
				img.logo__img(src="img/logo.png")
				span.logo__text Loftschooll
		.h-social
			ul.h-social-list
				li.h-social-list__li
					a.h-social-list__link.h-social-list__link__vk(href="")
				li.h-social-list__li
					a.h-social-list__link.h-social-list__link__tw(href="")
				li.h-social-list__li
					a.h-social-list__link.h-social-list__link__fb(href="")
				li.h-social-list__li
					a.h-social-list__link.h-social-list__link__gh(href="")