.login-form
	form#login
		h2.form__header Авторизируйтесь
		.divider-blue
		.form-content
			.form-container
				.form__row
					label.form__label Логин
						input.form__input(type="text" placeholder="Введите логин")
				.form__row
					label.form__label Пароль
						input.form__input(type="text" placeholder="Введите пароль")
				.form__row.button-row
					input.form__button.form__button__submit(type="submit" value="Войти")
