include head.jade
	body
		.wrapper
			include header.jade
			.divider			
			.main
				.container
					include sidebar.jade
					.content
						include feedback.jade
			.divider
			include footer.jade		

