include _head.jade
	body
		.wrapper
			include _header.jade
			.divider			
			.main
				.container
					include _sidebar.jade
					.content
						include _feedback.jade
			.divider
			include _footer.jade		

