.b-content
	h2.b-content__header
		span Мои работы
	.b-content__body
		ul.works-list
			- for (var i=1; i<=4; i++)
				li.works-list__item
					a.works-list__link(href="#")
						.works-list__thumb
							img.works-list__img(src="http://lorempixel.com/180/125/nature/" + i)
							.works-list__hover
								p.works-list__title
									span.works-list__title-in Название
						p.works-list__url www.site.ru
						p.works-list__desc= "Информация о проекте " + i + " превью 2 строки"
			li.works-list__item
				img.works-list__img.works-list__img__add-item(src="http://lorempixel.com/180/125/nature/")