include _head.jade
	body
		.wrapper
			include _header.jade
			.divider			
			.main
				.container
					include _sidebar.jade
					.content
						include _mywork.jade
		.divider
		include _footer.jade
		include _modal.jade		

