.sidebar
	.nav
		ul.nav-list
			li.nav-list__item.nav-list__item__active
				a.nav-list__link(href="/") Обо мне
			li.nav-list__item
				a.nav-list__link(href="portfolio.html") Мои работы
			li.nav-list__item
				a.nav-list__link(href="/contacts") Связаться со мной
	.contacts
		h2.contacts__header Контакты
		ul.contacts-list
			li.contacts-list__item.contacts-list__item__email
				a.contacts-list__link(href="mailto:ratnikov.danil@gmail.com") ratnikov.danil@gmail.com
			li.contacts-list__item.contacts-list__item__tel
				a.contacts-list__link(href="call:+79826220560") +79826220560
			li.contacts-list__item.contacts-list__item__skype
				a.contacts-list__link(href="skype:ratnikov.danil") ratnikov.danil